pipeline/ErrorLog.json
{
	"name": "ErrorLog",
	"properties": {
		"activities": [
			{
				"name": "GetRefreshInfo",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasp01/models/Supply/refreshes/01b78707-59dd-4fae-ac65-98bf99c8b1bf",
					"method": "GET",
					"body": {
						"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 2,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Production Plans\",\n            \"partition\": \"DimCustomer\"\n        },\n        {\n            \"table\": \"Dates\"\n        }\n    ]\n}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "SetMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRefreshInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Messages",
					"value": {
						"value": "@replace(replace(join(activity('GetRefreshInfo').output.messages, ','), '{\"message\":', ''), '}', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Insert to Log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT ',variables('RefreshId'),' AS ''EventId''\n\t  ,''',variables('Messages'),''' AS ''EventStatusMessage''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSQLQueue",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Lorem",
							"Table": "Ipsum"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQLQueue",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Controls",
							"Table": "AzureSharedEventQueue"
						}
					}
				]
			}
		],
		"variables": {
			"RefreshId": {
				"type": "String"
			},
			"Messages": {
				"type": "String"
			}
		},
		"folder": {
			"name": "WIP"
		},
		"annotations": []
	}
}