pipeline/Microsoft Teams Notification.json
{
	"name": "Microsoft Teams Notification",
	"properties": {
		"description": "Use this pipeline template to send notification on a teams channel. \n\nhttps://adf.azure.com/en-us/monitoring/pipelineruns/f90465ff-b8ea-4f0f-9110-178164bc8ee4?factory=/subscriptions/7b68d2b5-dfbe-46e1-938f-98ed143b7953/resourceGroups/demo101-rg/providers/Microsoft.DataFactory/factories/demofactory101",
		"activities": [
			{
				"name": "Set Facts",
				"description": "Details on Fact schema for teams messages: https://adaptivecards.io/explorer/Fact.html",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCardString",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Activity name:\",\n                    \"value\": \"@{pipeline().parameters.ProcessName}\"\n                },\n                {\n                    \"name\": \"Activity status:\",\n                    \"value\": \"@{pipeline().parameters.Status}\"\n                },\n                {\n                    \"name\": \"Refresh ID:\",\n                    \"value\": \"@{pipeline().parameters.RefreshId}\"\n                },\n                {\n                    \"name\": \"Process ID:\",\n                    \"value\": \"@{pipeline().parameters.PipelineID}\"\n                },\n                {\n                    \"name\": \"Start Time (EST):\",\n                    \"value\": \"@{pipeline().parameters.StartTime}\"\n                },\n                {\n                    \"name\": \"End Time (EST):\",\n                    \"value\": \"@{pipeline().parameters.EndTime}\"\n                },\n                {\n                    \"name\": \"Notification time (EST):\",\n                    \"value\": \"@{convertFromUtc(utcnow(),'Eastern Standard Time')}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call Teams Webhook",
				"description": "Invokes teams channel's webbook.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Facts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.teamsWebhookUrl",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('messageCardString'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"teamsWebhookUrl": {
				"type": "string",
				"defaultValue": "https://carhartt.webhook.office.com/webhookb2/821a9519-9995-4e07-8f41-359204fb1c05@b4e848aa-20ef-4814-a34a-93fe53f3970f/IncomingWebhook/53212b4e54754a3097bd0b26030417bc/dfb007ca-9396-4a1c-9d58-b1b1499518b9"
			},
			"ProcessName": {
				"type": "string"
			},
			"PipelineID": {
				"type": "string"
			},
			"StartTime": {
				"type": "string"
			},
			"EndTime": {
				"type": "string"
			},
			"RefreshId": {
				"type": "string"
			},
			"Status": {
				"type": "string"
			}
		},
		"variables": {
			"messageCardString": {
				"type": "String"
			}
		},
		"folder": {
			"name": "WIP"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-01T09:19:35Z"
	}
}