pipeline/OrdersPBI_Refresh.json
{
	"name": "OrdersPBI_Refresh",
	"properties": {
		"activities": [
			{
				"name": "SwitchEvent",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "ReadRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('ReadRefresh').output.firstRow.EventName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Nightly_Begin",
							"activities": [
								{
									"name": "SetNoRefresh_01",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "0"
									}
								}
							]
						},
						{
							"value": "Nightly_End",
							"activities": [
								{
									"name": "SetNoRefresh_02",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "0"
									}
								},
								{
									"name": "SendCompletionEmail",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "SetNoRefresh_02",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/edec3768a21d4a618a89c7ccf8c4ad0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Om-PN4tQZfPmI_KeEBQTkW7qGjSwrgbMrvF8RSqCfQ8",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@concat('{\"ModelName\" : \"','Orders','\" , \"StartDateTime\" : \"',utcNow(),'\"}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "Nightly_Dimensions",
							"activities": [
								{
									"name": "Set_Tables_04",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "TableRefreshQueue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 6,\n    \"RetryCount\": 0,\n    \"Objects\": ',activity('TableRefreshQueue').output.firstRow.Refresh,'\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "TableRefreshQueue",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "SetForRefresh_04",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT CAST(\n(\n\tSELECT TRIM([Tablename]) AS ''table''\n\tFROM [Controls].[ADFEventRefreshCatalog]\n\t\tWHERE [EventName] = ''',activity('ReadRefresh').output.firstRow.EventName,'''\n\t\tAND [ModelName] = ''Orders''\n\t\tAND [ValidFlag] = ''Y''\n\tFOR JSON AUTO\n) AS varchar(MAX)) AS ''Refresh''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSQLQueue",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Lorem",
												"Table": "Ipsum"
											}
										}
									}
								},
								{
									"name": "SetForRefresh_04",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "1"
									}
								}
							]
						},
						{
							"value": "Nightly_Facts",
							"activities": [
								{
									"name": "Set_Tables_05",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Tables_Nightly_Facts",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 6,\n    \"RetryCount\": 0,\n    \"Objects\": ',activity('Tables_Nightly_Facts').output.firstRow.Refresh,'\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Tables_Nightly_Facts",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "SetRefreshFlag05",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT CAST(\n(\n\tSELECT TRIM([Tablename]) AS ''table''\n\tFROM [Controls].[ADFEventRefreshCatalog]\n\t\tWHERE [EventName] = ''',activity('ReadRefresh').output.firstRow.EventName,'''\n\t\tAND [ModelName] = ''Orders''\n\t\tAND [ValidFlag] = ''Y''\n\tFOR JSON AUTO\n) AS varchar(MAX)) AS ''Refresh''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSQLQueue",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Lorem",
												"Table": "Ipsum"
											}
										}
									}
								},
								{
									"name": "SetRefreshFlag05",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "1"
									}
								}
							]
						},
						{
							"value": "Facts_Partitions",
							"activities": [
								{
									"name": "Set_Tables_08",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Tables_Facts_Partition",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 8,\n    \"RetryCount\": 0,\n    \"Objects\": ',activity('Tables_Facts_Partition').output.firstRow.Refresh,'\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Tables_Facts_Partition",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "SetRefreshFlag08",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT CAST(\n(\n\tSELECT TRIM([PRQ].[Tablename]) AS ''table'',TRIM([PRQ].[PartitionName]) AS ''partition''\n\tFROM [Controls].[ADFPartitionRefreshQueue] PRQ\n\tINNER JOIN [Controls].[ADFRefreshQueue] Q ON [Q].[EventParameters] = [PRQ].[RefreshId]\n\tWHERE [Q].[EventId] = ',activity('ReadRefresh').output.firstRow.EventId,'\n\tFOR JSON AUTO\n) AS varchar(MAX)) AS ''Refresh''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSQLQueue",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Lorem",
												"Table": "Ipsum"
											}
										}
									}
								},
								{
									"name": "SetRefreshFlag08",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "1"
									}
								}
							]
						},
						{
							"value": "Hourly",
							"activities": [
								{
									"name": "Set_Tables_Hourly",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SetForRefresh_Hourly",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 6,\n    \"RetryCount\": 0,\n    \"Objects\": \n    [\n\t{\n\t    \"table\": \"EMEA Orders\",\n\t    \"partition\":\"EMEA Orders Hourly\"\n\t},\n\t{\n\t    \"table\": \"Carhartt Retail Traffic\"\n\t},\n\t{\n\t    \"table\": \"Daily Goals\"\n\t},\n\t{\n\t    \"table\": \"Contracts\"\n\t},\n\t{\n\t    \"table\": \"RefreshDateTime\"\n\t},\n\t{\n\t    \"table\": \"Carhartt Retail Stores\"\n\t},\n\t{\n\t    \"table\": \"Carhartt Retail Transactions\",\n\t    \"partition\": \"Retail Transactions Hourly\"\n\t},\n\t{\n\t    \"table\": \"Reporting Notification Messages\"\n\t},\n\t{\n\t    \"table\": \"Delta Maintenance\"\n\t}\n]\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SetForRefresh_Hourly",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "1"
									}
								}
							]
						},
						{
							"value": "Retail_Nightly",
							"activities": [
								{
									"name": "Set_Tables_06",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Tables_RetailNightly",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 6,\n    \"RetryCount\": 0,\n    \"Objects\": ',activity('Tables_RetailNightly').output.firstRow.Refresh,'\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Tables_RetailNightly",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "SetRefreshFlag06",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT CAST(\n(\n\tSELECT TRIM([Tablename]) AS ''table''\n\tFROM [Controls].[ADFEventRefreshCatalog]\n\t\tWHERE [EventName] = ''',activity('ReadRefresh').output.firstRow.EventName,'''\n\t\tAND [ModelName] = ''Orders''\n\t\tAND [ValidFlag] = ''Y''\n\tFOR JSON AUTO\n) AS varchar(MAX)) AS ''Refresh''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSQLQueue",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Lorem",
												"Table": "Ipsum"
											}
										}
									}
								},
								{
									"name": "SetRefreshFlag06",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "1"
									}
								}
							]
						},
						{
							"value": "EMEA_Nightly",
							"activities": [
								{
									"name": "Set_Tables_06_copy1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Tables_EMEANightly",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 6,\n    \"RetryCount\": 0,\n    \"Objects\": ',activity('Tables_EMEANightly').output.firstRow.Refresh,'\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Tables_EMEANightly",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "SetRefreshFlag07",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT CAST(\n(\n\tSELECT TRIM([Tablename]) AS ''table''\n\tFROM [Controls].[ADFEventRefreshCatalog]\n\t\tWHERE [EventName] = ''',activity('ReadRefresh').output.firstRow.EventName,'''\n\t\tAND [ModelName] = ''Orders''\n\t\tAND [ValidFlag] = ''Y''\n\tFOR JSON AUTO\n) AS varchar(MAX)) AS ''Refresh''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSQLQueue",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Lorem",
												"Table": "Ipsum"
											}
										}
									}
								},
								{
									"name": "SetRefreshFlag07",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "1"
									}
								}
							]
						},
						{
							"value": "RevenuePacing_Nightly",
							"activities": [
								{
									"name": "Set_Tables_06_copy2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Tables_RevenuePacingNightly",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 6,\n    \"RetryCount\": 0,\n    \"Objects\": ',activity('Tables_RevenuePacingNightly').output.firstRow.Refresh,'\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Tables_RevenuePacingNightly",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "SetRefreshFlag09",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT CAST(\n(\n\tSELECT TRIM([Tablename]) AS ''table''\n\tFROM [Controls].[ADFEventRefreshCatalog]\n\t\tWHERE [EventName] = ''',activity('ReadRefresh').output.firstRow.EventName,'''\n\t\tAND [ModelName] = ''Orders''\n\t\tAND [ValidFlag] = ''Y''\n\tFOR JSON AUTO\n) AS varchar(MAX)) AS ''Refresh''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSQLQueue",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Lorem",
												"Table": "Ipsum"
											}
										}
									}
								},
								{
									"name": "SetRefreshFlag09",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "1"
									}
								}
							]
						},
						{
							"value": "Retail",
							"activities": [
								{
									"name": "Set_Tables_Retail",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SetForRefresh_Retail",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 6,\n    \"RetryCount\": 0,\n    \"Objects\": [\n    {\n        \"table\": \"Carhartt Retail Stores\"\n    },\n    {\n        \"table\": \"Carhartt Retail Transactions\",\n        \"partition\": \"Retail Transactions Hourly\"\n    },\n    {\n        \"table\": \"Carhartt Retail Traffic\"\n    }\n]\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SetForRefresh_Retail",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ProcessingConditional",
										"value": "1"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "UpdateQueue_UnknowEvent",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Controls].[UpdateADFQueueRefresh]",
								"storedProcedureParameters": {
									"endTime": {
										"value": null,
										"type": "DateTime"
									},
									"eventId": {
										"value": {
											"value": "@int(activity('ReadRefresh').output.firstRow.EventId)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"requestId": {
										"value": null,
										"type": "String"
									},
									"startTime": {
										"value": null,
										"type": "DateTime"
									},
									"status": {
										"value": "F",
										"type": "String"
									},
									"statusMessage": {
										"value": "ERROR: Unknown Event Name",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "BIP01",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ReadRefresh",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [EventId],[EventName] FROM [Controls].[ADFRefreshQueue]\nWHERE [ModelName] = 'Orders'\n\t  AND [EventType] = 'PBI Refresh'\n\t  AND [EventStatus] IS NULL\nORDER BY [EventId]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLQueue",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Lorem",
							"Table": "Ipsum"
						}
					}
				}
			},
			{
				"name": "ProcessCondition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SwitchEvent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(int(variables('ProcessingConditional')),1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "UpdateFlagQueue",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Controls].[UpdateADFQueueRefresh]",
								"storedProcedureParameters": {
									"endTime": {
										"value": {
											"value": "@convertFromUtc(utcnow(),'Eastern Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"eventId": {
										"value": {
											"value": "@int(activity('ReadRefresh').output.firstRow.EventId)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipelineRunId": {
										"value": {
											"value": "@string(pipeline().RunId)",
											"type": "Expression"
										},
										"type": "String"
									},
									"requestId": {
										"value": null,
										"type": "String"
									},
									"startTime": {
										"value": {
											"value": "@convertFromUtc(pipeline().TriggerTime,'Eastern Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": "C",
										"type": "String"
									},
									"statusMessage": {
										"value": "Flag Event",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "BIP01",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "RefreshSupplyPBI",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "00:00:25",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://api.powerbi.com/v1.0/myorg/groups/7f9759c8-270b-4e68-a251-7fb844a51e9b/datasets/1865273b-45f5-4639-b25f-5d8ca23358bc/refreshes",
								"method": "POST",
								"body": {
									"value": "@variables('RefreshParameters')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://analysis.windows.net/powerbi/api"
								}
							}
						},
						{
							"name": "GetRefresh",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "RefreshSupplyPBI",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://api.powerbi.com/v1.0/myorg/groups/7f9759c8-270b-4e68-a251-7fb844a51e9b/datasets/1865273b-45f5-4639-b25f-5d8ca23358bc/refreshes?$top=2",
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://analysis.windows.net/powerbi/api"
								}
							}
						},
						{
							"name": "FormatResponse",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetRefresh",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Response",
								"value": {
									"value": "@array(first(activity('GetRefresh').output.value))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "UpdateQueue",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FormatResponse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Controls].[UpdateADFQueueRefresh]",
								"storedProcedureParameters": {
									"endTime": {
										"value": null,
										"type": "DateTime"
									},
									"eventId": {
										"value": {
											"value": "@int(activity('ReadRefresh').output.firstRow.EventId)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipelineRunId": {
										"value": {
											"value": "@string(pipeline().RunId)",
											"type": "Expression"
										},
										"type": "String"
									},
									"requestId": {
										"value": {
											"value": "@string(variables('Response')[0].requestId)",
											"type": "Expression"
										},
										"type": "String"
									},
									"startTime": {
										"value": {
											"value": "@convertFromUtc(utcnow(),'Eastern Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": "R",
										"type": "String"
									},
									"statusMessage": {
										"value": "Just Started",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "BIP01",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"RefreshParameters": {
				"type": "String"
			},
			"Response": {
				"type": "Array"
			},
			"RefreshId": {
				"type": "String"
			},
			"EventId": {
				"type": "String"
			},
			"ProcessingConditional": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Orders_PBI"
		},
		"annotations": []
	}
}