pipeline/ProcessWarehouse_Refresh.json
{
	"name": "ProcessWarehouse_Refresh",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "ReadRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('ReadRefresh').output.firstRow.EventName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Warehouse_Hourly",
							"activities": [
								{
									"name": "Set_Hourly",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"PickTicket\"\n        },\n        {\n            \"table\": \"PickTicketProcessing\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "Warehouse_Start",
							"activities": [
								{
									"name": "Set_Generic1",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"PickTicket\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "Warehouse_End",
							"activities": [
								{
									"name": "SendCompletionEmail",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Set_Generic2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/edec3768a21d4a618a89c7ccf8c4ad0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Om-PN4tQZfPmI_KeEBQTkW7qGjSwrgbMrvF8RSqCfQ8",
										"method": "POST",
										"body": {
											"value": "@concat('{','}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set_Generic2",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"PickTicket\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "Warehouse_Dimensions",
							"activities": [
								{
									"name": "Set_Dimensions",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Customers\"\n        },\n        {\n            \"table\": \"Products\"\n        },\n        {\n            \"table\": \"Dates\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "Warehouse_Facts",
							"activities": [
								{
									"name": "Set_Facts",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"PickTicket\"\n        },\n        {\n            \"table\": \"PickTicketProcessing\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "UpdateQueue_UnknowEvent",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Controls].[ADFQueueUpdate]",
								"storedProcedureParameters": {
									"endTime": {
										"value": null,
										"type": "DateTime"
									},
									"eventId": {
										"value": {
											"value": "@activity('ReadRefresh').output.firstRow.EventId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"refreshId": {
										"value": null,
										"type": "String"
									},
									"startTime": {
										"value": null,
										"type": "DateTime"
									},
									"status": {
										"value": "F",
										"type": "String"
									},
									"statusMessage": {
										"value": "Invalid or Unknow EventName",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "BIP01",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ReadRefresh",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [EventId],[EventName] FROM [Controls].[AzureSharedEventQueue]\nWHERE EventType = 'Warehouse2.0' AND [EventStatus] IS NULL\nORDER BY EventId",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLQueue",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Lorem",
							"Table": "Ipsum"
						}
					}
				}
			},
			{
				"name": "RefreshSupply",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasp01/models/Warehouse/refreshes",
					"method": "POST",
					"body": {
						"value": "@variables('RefreshParameters')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "GetRefresh",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RefreshSupply",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasp01/models/Warehouse/refreshes",
					"method": "GET",
					"body": {
						"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 2,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Production Plans\",\n            \"partition\": \"DimCustomer\"\n        },\n        {\n            \"table\": \"Dates\"\n        }\n    ]\n}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "FormatResponse",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Response",
					"value": {
						"value": "@array(first(json(activity('GetRefresh').output.Response)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UpdateQueue",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FormatResponse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Controls].[ADFQueueUpdate]",
					"storedProcedureParameters": {
						"endTime": {
							"value": null,
							"type": "DateTime"
						},
						"eventId": {
							"value": {
								"value": "@int(activity('ReadRefresh').output.firstRow.EventId)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"refreshId": {
							"value": {
								"value": "@string(variables('Response')[0].RefreshId)",
								"type": "Expression"
							},
							"type": "String"
						},
						"startTime": {
							"value": {
								"value": "@convertFromUtc(utcnow(),'Eastern Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": "R",
							"type": "String"
						},
						"statusMessage": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "BIP01",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RefreshParameters": {
				"type": "String"
			},
			"Response": {
				"type": "Array"
			},
			"RefreshId": {
				"type": "String"
			},
			"EventId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Warehouse"
		},
		"annotations": []
	}
}