pipeline/ProcessSupply_Refresh.json
{
	"name": "ProcessSupply_Refresh",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "ReadRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('ReadRefresh').output.firstRow.EventName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Supply_Inventory",
							"activities": [
								{
									"name": "Set_Inventory",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Available to Promise\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ReadRefresh",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [EventId],[EventName] FROM [Controls].[AzureSharedEventQueue]\nWHERE EventType = 'Supply' AND [EventStatus] IS NULL\nORDER BY EventId",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLQueue",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Lorem",
							"Table": "Ipsum"
						}
					}
				}
			},
			{
				"name": "RefreshNightlyFacts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasp01/models/Supply/refreshes",
					"method": "POST",
					"body": {
						"value": "@variables('RefreshParameters')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "GetRefresh",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RefreshNightlyFacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasp01/models/Supply/refreshes",
					"method": "GET",
					"body": {
						"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 2,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Production Plans\",\n            \"partition\": \"DimCustomer\"\n        },\n        {\n            \"table\": \"Dates\"\n        }\n    ]\n}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "FormatResponse",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Response",
					"value": {
						"value": "@array(first(json(activity('GetRefresh').output.Response)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UpdateQueue",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FormatResponse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Controls].[ADFQueueUpdate]",
					"storedProcedureParameters": {
						"endTime": {
							"value": null,
							"type": "DateTime"
						},
						"eventId": {
							"value": {
								"value": "@int(activity('ReadRefresh').output.firstRow.EventId)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"refreshId": {
							"value": {
								"value": "@string(variables('Response')[0].RefreshId)",
								"type": "Expression"
							},
							"type": "String"
						},
						"startTime": {
							"value": {
								"value": "@convertFromUtc(formatDateTime(activity('GetRefresh').output.startTime),'Eastern Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": "R",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "BIP01",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RefreshParameters": {
				"type": "String"
			},
			"Response": {
				"type": "Array"
			},
			"RefreshId": {
				"type": "String"
			},
			"EventId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Process Supply"
		},
		"annotations": []
	}
}