pipeline/ProcessOrders_Refresh.json
{
	"name": "ProcessOrders_Refresh",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "ReadRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('ReadRefresh').output.firstRow.EventName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "OrdersTabularFactPartitions",
							"activities": [
								{
									"name": "Set_Facts",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "PartitionRefreshQueue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 8,\n    \"RetryCount\": 2,\n    \"Objects\": ',activity('PartitionRefreshQueue').output.firstRow.Refresh,'\n}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "PartitionRefreshQueue",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT CAST(\n(\n\tSELECT TRIM([PRQ].[Tablename]) AS ''table'',TRIM([PRQ].[PartitionName]) AS ''partition''\n\tFROM [Controls].[SSASPartitionRefreshQueue] PRQ\n\tINNER JOIN [Controls].[AzureEventQueue] AEQ ON [AEQ].[RefreshId] = [PRQ].[RefreshId]\n\t\tWHERE [AEQ].[EventId] = ',activity('ReadRefresh').output.firstRow.EventId,'\n\tFOR JSON AUTO\n) AS varchar(MAX)) AS ''Refresh''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSQLQueue",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Lorem",
												"Table": "Ipsum"
											}
										}
									}
								}
							]
						},
						{
							"value": "OrdersRefreshReportingNotifications",
							"activities": [
								{
									"name": "Set_ReportingNotifications",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Reporting Notification Messages\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "OrdersRefreshDailyGoals",
							"activities": [
								{
									"name": "Set_DailyGoals",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Reporting Notification Messages\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "OrdersTabularHourlyEMEA",
							"activities": [
								{
									"name": "Set_HourlyEMEA",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Reporting Notification Messages\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "OrdersTabularFullRetail",
							"activities": [
								{
									"name": "Set_FullRetail",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Reporting Notification Messages\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "OrdersTabularFullDimensions",
							"activities": [
								{
									"name": "Set_FullDimensions",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Reporting Notification Messages\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "OrdersTabularHourlyRevenuePacing",
							"activities": [
								{
									"name": "Set_HourlyRevenuePacing",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Reporting Notification Messages\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "FactPartitionsStart",
							"activities": [
								{
									"name": "Set_GenericFPS",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RefreshParameters",
										"value": {
											"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 4,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Reporting Notification Messages\"\n        }\n    ]\n}')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "OrdersTabularFullEnd"
						},
						{
							"value": "OrdersTabularHourlyEnd"
						},
						{
							"value": "OrdersTabularFullRevenuePacing"
						},
						{
							"value": "OrdersTabularFullEMEA"
						},
						{
							"value": "OrdersTabularHourlyDimensions"
						},
						{
							"value": "OrdersTabularHourlyRetailTransactions"
						},
						{
							"value": "OrdersRefreshMonthlyGoals"
						},
						{
							"value": "OrdersTabularHourlyRetailTraffic"
						},
						{
							"value": "OrdersTabularFullStart"
						},
						{
							"value": "OrdersTabularHourlyStart"
						},
						{
							"value": "FactPartitionsEnd"
						},
						{
							"value": "OrdersTabularHourlyRetail"
						},
						{
							"value": "OrdersTabularFullFacts"
						}
					],
					"defaultActivities": [
						{
							"name": "UpdateQueue_UnknowEvent",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Controls].[ADFQueueUpdate]",
								"storedProcedureParameters": {
									"endTime": {
										"value": null,
										"type": "DateTime"
									},
									"eventId": {
										"value": {
											"value": "@int(activity('ReadRefresh').output.firstRow.EventId)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"refreshId": {
										"value": {
											"value": "@string(activity('ReadRefresh').output.firstRow.RefreshId)",
											"type": "Expression"
										},
										"type": "String"
									},
									"startTime": {
										"value": null,
										"type": "DateTime"
									},
									"status": {
										"value": "F",
										"type": "String"
									},
									"statusMessage": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "BIP01",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ReadRefresh",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [EventId],[RefreshId],[EventName] FROM [Controls].[AzureEventQueue]\n\tWHERE [EventType] = 'SSAS Refresh'\n\t  AND [EventName] = 'OrdersTabularFactPartitions'\n\t  AND [EventStatus] IS NULL\nORDER BY [EventId]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLQueue",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Lorem",
							"Table": "Ipsum"
						}
					}
				}
			},
			{
				"name": "RefreshSupply",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasp01/models/Orders/refreshes",
					"method": "POST",
					"body": {
						"value": "@variables('RefreshParameters')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "GetRefresh",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RefreshSupply",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasp01/models/Orders/refreshes",
					"method": "GET",
					"body": {
						"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 2,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Production Plans\",\n            \"partition\": \"DimCustomer\"\n        },\n        {\n            \"table\": \"Dates\"\n        }\n    ]\n}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "FormatResponse",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Response",
					"value": {
						"value": "@array(first(json(activity('GetRefresh').output.Response)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UpdateQueue",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FormatResponse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Controls].[ADFOrdersQueueUpdate]",
					"storedProcedureParameters": {
						"endTime": {
							"value": null,
							"type": "DateTime"
						},
						"eventId": {
							"value": {
								"value": "@int(activity('ReadRefresh').output.firstRow.EventId)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"refreshId": {
							"value": {
								"value": "@string(activity('ReadRefresh').output.firstRow.RefreshId)",
								"type": "Expression"
							},
							"type": "String"
						},
						"startTime": {
							"value": {
								"value": "@convertFromUtc(utcnow(),'Eastern Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": "R",
							"type": "String"
						},
						"statusMessage": {
							"value": {
								"value": "@string(variables('Response')[0].RefreshId)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "BIP01",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RefreshParameters": {
				"type": "String"
			},
			"Response": {
				"type": "Array"
			},
			"RefreshId": {
				"type": "String"
			},
			"EventId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Orders"
		},
		"annotations": []
	}
}