pipeline/SupplyProcessNotification.json
{
	"name": "SupplyProcessNotification",
	"properties": {
		"activities": [
			{
				"name": "SyncRefresh",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasq01/models/Supply/refreshes",
					"method": "GET",
					"body": {
						"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 2,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Production Plans\",\n            \"partition\": \"DimCustomer\"\n        },\n        {\n            \"table\": \"Dates\"\n        }\n    ]\n}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "FormatResponse",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SyncRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Response",
					"value": {
						"value": "@array(last(json(activity('SyncRefresh').output.Response)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FormatResponse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Microsoft Teams Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"teamsWebhookUrl": "https://carhartt.webhook.office.com/webhookb2/821a9519-9995-4e07-8f41-359204fb1c05@b4e848aa-20ef-4814-a34a-93fe53f3970f/IncomingWebhook/53212b4e54754a3097bd0b26030417bc/dfb007ca-9396-4a1c-9d58-b1b1499518b9",
						"ProcessName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@string(formatDateTime(variables('Response')[0].startTime))",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@string(formatDateTime(variables('Response')[0].endTime))",
							"type": "Expression"
						},
						"RefreshId": {
							"value": "@string(variables('Response')[0].refreshid)",
							"type": "Expression"
						},
						"Status": {
							"value": "@string(variables('Response')[0].status)",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"Response": {
				"type": "Array"
			},
			"LastRefreshId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}