pipeline/SupplyProcessNotification.json
{
	"name": "SupplyProcessNotification",
	"properties": {
		"activities": [
			{
				"name": "SyncRefresh",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://northcentralus.asazure.windows.net/servers/carharttbiasq01/models/Supply/refreshes",
					"method": "GET",
					"body": {
						"value": "@concat('{\n    \"Type\": \"Full\",\n    \"CommitMode\": \"transactional\",\n    \"MaxParallelism\": 2,\n    \"RetryCount\": 2,\n    \"Objects\": [\n        {\n            \"table\": \"Production Plans\",\n            \"partition\": \"DimCustomer\"\n        },\n        {\n            \"table\": \"Dates\"\n        }\n    ]\n}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net  "
					}
				}
			},
			{
				"name": "FormatResponse",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SyncRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Response",
					"value": {
						"value": "@json(activity('SyncRefresh').output.Response)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RefreshID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FormatArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastRefreshId",
					"value": {
						"value": "@last(variables('Response').refreshId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FormatArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FormatResponse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ResponseValue",
					"value": {
						"value": "@array(variables('Response').1)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Response": {
				"type": "Array"
			},
			"LastRefreshId": {
				"type": "String"
			},
			"ResponseValue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}